#!/usr/bin/env bash

if has nix; then
  watch_file nix/flake/packages/default.nix
  watch_file nix/flake/pre-commit.nix
  watch_file nix/flake/devshells/default.nix
  watch_file bin/igloo.py
  use flake . --builders ""
else
  ln -sf .pre-commit/config.yaml .pre-commit-config.yaml
  export SKIP=flake-checker
fi

dotenv_if_exists
